<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="ps-5">Orders</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= icon('fa-solid', 'user', class: "me-2")%><%= customer.full_name %></td> 
        <td class="ps-5"><%= customer.orders.count%></td>
        <td><%= button_to "Show", customer_path(customer), method: :get,  class: "btn btn-primary btn-sm me-2" %></td>
        <td><%= button_to "Edit", edit_customer_path(customer), method: :get,  class: "btn btn-secondary  btn-sm me-2" %></td>
        <td><button type="button" class="btn btn-danger btn-sm " data-bs-toggle="modal" data-bs-target="#myModal-<%= customer.id %>"> Delete </button></td>
      </tr>
      <%= render partial: "deleteModal", locals: { customer: customer } %>
    <% end %>
  </tbody>
</table>
