

<%= render @order %>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %> |
  <%= link_to "Back to customer", customer_path(@order.customer_id) %>
  <div class="mt-3">
    <%= button_to "Delete this order", @order, method: :delete, class: "btn btn-danger btn-sm" %>
  </div>
</div>
