<!DOCTYPE html>
<html>
  <head>
    <title>R7Additional</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>  
  <div class='container-fluid'> 
    <div class="mt-4 p-5 text-white rounded banner-background">
      <h1>Customers and Orders</h1>
      <p>This is a sample application that association orders with customers.</p>
    </div>

    <% if flash[:notice].present? %>
    <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <nav class="navbar navbar-expand-lg bg-light navbar-light">       
      <div class="nav-item dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Customers</a>
        <ul class="dropdown-menu">
          <li class="nav-item">
            <%= link_to "Customers list", customers_path, class: "btn dropdown-toggle" %>
          </li>
          <li class="nav-item">
            <%= link_to "New customer", new_customer_path, class: "btn" %>               
          </li>
        </ul>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Orders</a>
        <ul class="dropdown-menu">
          <li class="nav-item">
            <%= link_to "Orders list", orders_path, class: "btn" %>
          </li>
          <li class="nav-item">
            <%= link_to "New order",  new_order_path, class: "btn" %>                       
          </li>
        </ul>        
      </div>
    </nav>


  

    <%= yield %>
  </div>
</body>
</html>
